@page "/fetchdata"

@using Blazor_app_tutorial.Data
@inject MovieService movieService

<h1>Movie</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Release date</th>
                <th>Original language</th>
                <th>Personal rate</th>   
            </tr>
        </thead>
        <tbody>
            @foreach (MovieItem movieItem in movies){
                <tr>
                    <td>@movieItem.Title</td>
                    <td>@movieItem.release_Date</td>
                    <td>@movieItem.original_language</td>
                    <td>@movieItem.PersonalRate</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private MovieItem movie;
    private Root root;
    private IEnumerable<MovieItem> movies;
    protected override async Task OnInitializedAsync()
    {
        root = await movieService.SearchForMovies("Star wars");
        movies = root.results;
        Console.WriteLine(root.results);
    }
}
