@page "/localMovie"

@inject MovieService movieService
@inject SingletonService searchInput
@inherits OwningComponentBase<LocalMovieService>

<h1>Movie</h1>

@if (searchInput.GetSearchInput() == null)
{
    <p><em>empty list</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            @foreach (LocalMovie lm in localMovies){ 
                if(lm.title.IndexOf(searchInput.GetSearchInput(), StringComparison.OrdinalIgnoreCase) >= 0){
                <tr>
                    <td>@lm.title</td>
                    <td>@lm.year</td>
                </tr>
                }
            }
        </tbody>
    </table>
}

@code {
    public System.Collections.Generic.IList<LocalMovie> localMovies;

        protected override void OnInitialized()
        {
            localMovies = Service.displayMovieData();
        }
}
