@page "/movie"

@inject MovieService movieService
@inject SingletonService searchInput

<h1>Movie</h1>

@if (movies == null)
{
    <p><em>Look for a movie via the search bar!</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Release date</th>
                <th>Original language</th>
                <th>Popularity</th>
                <th>Personal rate</th>   
            </tr>
        </thead>
        <tbody>
            @foreach (MovieItem movieItem in movies){
                <tr>
                    <td>@movieItem.Title</td>
                    <td>@movieItem.release_Date</td>
                    <td>@movieItem.original_language</td>
                    <td>@movieItem.popularity</td>
                    <td><img src=@movieItem.fullImagePath alt="alternatetext"></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private MovieItem movie;
    private Root root;
    private IEnumerable<MovieItem> movies;
    protected override async Task OnInitializedAsync()
    {
        if(searchInput.GetSearchInput() != null ){
        root = await movieService.SearchForMovies(searchInput.GetSearchInput());
        movies = root.results;
            foreach (MovieItem movie in movies){
                movie.fullImagePath = "https://image.tmdb.org/t/p/w500" + movie.poster_path;
            }
        }
    }
}
